div.blog-header {
  padding:0px;
  background: #fff;
  border-radius:5px 5px 0 0;
  border:1px solid #e0e0e0;
  border-bottom: 0;
}

div.blog-body {
  padding:5px;
  background: #fff;
  border:1px solid #e0e0e0;
  border-top: 0;
  border-bottom: 0;
}

div.blog-footer {
  padding:5px;
  background: #f4f4f4;
  border-radius:0 0 5px 5px;
  border:1px solid #e0e0e0;
  margin-bottom:25px;
}

section.h1.a {
  color:#000;
  font-weight: bold;
}

section.h1.a:hover, section.h1.a:focus {
  color:#000;
  font-weight: bold;
}

img.blog-header {
  border-radius: 5px 5px 0 0 ;
}
